/* Variable definition for colors */
:root {
    --color-principal: #ffffff;
    --color-secondary: #c93298;
    --color-third: #5047b6;

    --color-text-navbar: #000000;
    --color-navigation-bar: #fbf6e2;
    --color-marquee-background: #273337;
    --color-marquee-live: #f7051c;

    --color-background-button: #8fcc89;
    --color-text: #662220;

    --color-border: #a6a5a0;
    --color-background-crypto: #c9cdc3;
}

/* General Styles */
html {
    font-size: 10px;
}

body {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
}

/* Main Structure */
.layout {
    position: relative;
    min-width: 1290px;
    width: 100%;
    min-height: 10vh;
}
